jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: npm ci

      - name: Run tests
        id: run-tests
        run: |
          npm run test || echo "Tests failed" && exit 1

      - name: Upload test report on failure
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test.json

