name: Website Deployment

on:
  push:
    branches:
      - master

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npm run lint || true


test:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      id: run-tests
      run: npm run test
      continue-on-error: true

    - name: Upload test report if tests failed
      if: steps.run-tests.outcome == 'failure'
      uses: actions/upload-artifact@v3
      with:
        name: test-report
        path: test.json

    - name: Fail job if tests failed
      if: steps.run-tests.outcome == 'failure'
      run: exit 1

